body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6,ul {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

// button[type="submit"] {
//   border: 1px solid black;
//   border-radius: 5px;
//   padding: 5px 10px;
//   margin: 0px 5px;
// }

.panelCard {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
}

.panelCard h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.rewards {
  display: flex;
  flex-wrap: wrap;
}

.rewards img {
  max-width: 100px;
  margin: 0;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.button:hover {
  background-color: #ddd;
}
.button:active {
  background-color: #999;
  color: #fff;
}

.deleteButton {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}


.table td:first-child {
  font-weight: bold;
}

th {
  text-align: left;
}
td,th {
  padding: 0 2px;
}

form {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}


.row {
  display: flex;
  justify-content: space-between;
}

.namedesc {
  display: flex;
  gap: 0.5em;
}
